<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header_nav">
            <ul class="main-header_list">
                <li class="list-item"><a class="active" href="/">Shop</a></li>
                <li class="list-item"><a href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- <h1>My Products</h1>
        <p>List of all products ...</p> -->

        <section>
            <h1>My Products</h1>
            <p>List of all products ...</p>
        </section>
        <section class="section">
            <div class="section-div">
                <h2>Product 1</h2>
                <p>Description of product 1</p>
            </div>
            <div class="section-div">
                <h2>Product 2</h2>
                <p>Description of product 2</p>
            </div>
        </section>
    </main>

</body>

</html>